
#tweet-text{
  border-bottom: 3px solid black;
  outline: none;
  align-items: center;
  resize: none;
  background: #f4f1ec;
  width: 100%;
}

.counter{
  text-align: end;
  font-family: 'Bungee', cursive;
  font-size: 1em;
}

.new-tweet{
  width: 100%;

}

h2{
  text-align: center;
}